name: Coderco Secrets Workflow

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    
    steps:
      - name: checkout code
        uses: actions/checkout@v5


      - name: use Secrets
        run: echo "the secret is ${{secret.MY_SECRET}}"  